/*
!/css
/css/*
!/css/panel.css

!/img
/img/*
!/img/cat.jpg
!/img/dog.jpg
!/img/mao.jpg
!/img/panel.png
!/img/tiger.jpg

!/lib
/lib/*
!/lib/utils.js
!/lib/panel.js
!/lib/delaunay.js
!/lib/webgl.js
!/lib/index.js
!/lib/Polyer.min.js

!.gitignore
!index.html
!index.min.html
!package.json
!Gruntfile.js
!LICENSE
!README.md
